.cardLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardTitleContainer {
    display: flex;
  }

  .cardTitle {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cardDescription {
    font-size: 0.85rem !important;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

.cardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.75rem;
}
