name: Test Examples Docs

on:
  pull_request:
    branches: [main]
    paths:
      - docs/**
      - src/**
      - static/**
      - docusaurus.config.ts
      - sidebars.ts
      - package.json
      - yarn.lock
      - ".github/workflows/docs_test.yml"

permissions:
  contents: read

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Test build website
        run: yarn build

