name: Release Examples Docs

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  deploy:
    name: Release Examples Docs
    uses: ./.github/workflows/_docs_release.yml
    secrets: inherit

